---
import { SEO } from "astro-seo";
import "../../styles/global.scss";
import "@fontsource-variable/lexend";

const { title = "", description = "", type = "website" } = Astro.props;
const social_image = "";
---

<head>
  <title>{title}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta property="description" content={description} />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <meta charset="utf-8" />

  <script
    is:inline
    type="text/partytown"
    src="https://www.googletagmanager.com/gtag/js?id=G-B4RHDV0Y5H"></script>

  <script is:inline type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("consent", "default", {
      ad_storage: "denied",
      ad_user_data: "denied",
      ad_personalization: "denied",
      analytics_storage: "denied",
    });

    gtag("config", "G-B4RHDV0Y5H");
  </script>
  <script is:inline data-category="analytics">
    function updateConsents() {
      gtag("consent", "update", {
        ad_storage: "granted",
        ad_user_data: "granted",
        ad_personalization: "granted",
        analytics_storage: "granted",
      });
    }
  </script>
  <script
    src="https://app.viral-loops.com/widgetsV2/core/loader.js"
    data-campaign-id="e9xz4agONxBxkGnd7pUojPlnY4Y"
    id="viral-loops-loader"
    defer></script>

  <SEO
    title={title}
    description={description}
    openGraph={{
      basic: {
        title: title,
        type: type,
        image: social_image,
      },
    }}
    ,
    extend={{
      meta: [
        {
          property: "twitter:image",
          content: social_image,
        },
        {
          property: "og:image",
          content: social_image,
        },
        {
          property: "og:description",
          content: description,
        },
      ],
    }}
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css"
  />
</head>
