---
import { SEO } from "astro-seo";
import "@fontsource-variable/lexend";
import 'vanilla-cookieconsent/dist/cookieconsent.css';
import "../../styles/global.scss";



const { title = "", description = "", type = "website" } = Astro.props;
const social_image = "";
---

<head>
  <title>{title}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta property="description" content={description} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />

    <script
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-B4RHDV0Y5H"></script>

      <script>
        // We need a global definition to avoid type warnings
        declare global {
          interface Window {
            dataLayer: Record<string, any>[];
            gtag: (...args: any[]) => void;
          }
        }

        // Initialize dataLayer
        window.dataLayer = window.dataLayer || [];

        // Define gtag function
        window.gtag = function gtag(...args: any[]) {
          window.dataLayer.push(arguments);
        };

        // Load GA4 with denied default consents
        window.gtag("js", new Date());
        window.gtag("consent", "default", {
          ad_storage: "denied",
          ad_user_data: "denied",
          ad_personalization: "denied",
          analytics_storage: "denied",
        });
        window.gtag("config", "G-B4RHDV0Y5H");
      </script>

     
      <!-- Meta Pixel Code -->
      <script is:inline>
        !(function (f, b, e, v, n, t, s) {
          if (f.fbq) return;
          n = f.fbq = function () {
            n.callMethod
              ? 
                n.callMethod.apply(n, arguments)
              : n.queue.push(arguments);
          };
          if (!f._fbq) f._fbq = n;
          n.push = n;
          n.loaded = !0;
          n.version = "2.0";
          n.queue = [];
          t = b.createElement(e);
          t.async = !0;
          t.src = v;
          s = b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t, s);
        })(
          window,
          document,
          "script",
          "https://connect.facebook.net/en_US/fbevents.js"
        );
        fbq('consent', 'revoke');
        fbq("init", "665512622734995");
        fbq("track", "PageView");
      </script>
      <noscript
        ><img
          height="1"
          width="1"
          style="display:none"
          src="https://www.facebook.com/tr?
      id=665512622734995&ev=PageView&noscript=1"
        /></noscript
      >
  <!-- End Meta Pixel Code -->

  <!-- TikTok Pixel Code Start -->

  <script is:inline>
    !function(w, d, t) {
      w.TiktokAnalyticsObject = t;
      var ttq = w[t] = w[t] || [];
      ttq.methods = [
        "page", "track", "identify", "instances", "debug", "on", "off", "once",
        "ready", "alias", "group", "enableCookie", "disableCookie",
        "holdConsent", "revokeConsent", "grantConsent"
      ];
      ttq.setAndDefer = function(t, e) {
        t[e] = function() {
          t.push([e].concat(Array.prototype.slice.call(arguments, 0)));
        };
      };
      for (var i = 0; i < ttq.methods.length; i++) {
        ttq.setAndDefer(ttq, ttq.methods[i]);
      }
      ttq.instance = function(t) {
        var e = ttq._i[t] || [];
        for (var n = 0; n < ttq.methods.length; n++) {
          ttq.setAndDefer(e, ttq.methods[n]);
        }
        return e;
      };
      ttq.load = function(e, n) {
        var r = "https://analytics.tiktok.com/i18n/pixel/events.js";
        var o = n && n.partner;
        ttq._i = ttq._i || {};
        ttq._i[e] = [];
        ttq._i[e]._u = r;
        ttq._t = ttq._t || {};
        ttq._t[e] = +new Date();
        ttq._o = ttq._o || {};
        ttq._o[e] = n || {};
        var a = d.createElement("script");
        a.type = "text/javascript";
        a.async = true;
        a.src = r + "?sdkid=" + e + "&lib=" + t;
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(a, s);
      };

      w.ttq = ttq
  
    }(window, document, 'ttq');
  </script>
  
  <script
        src="https://app.viral-loops.com/widgetsV2/core/loader.js"
        data-campaign-id="e9xz4agONxBxkGnd7pUojPlnY4Y"
        id="viral-loops-loader"
        defer></script>

  <SEO
    title={title}
    description={description}
    openGraph={{
      basic: {
        title: title,
        type: type,
        image: social_image,
      },
    }}
    ,
    extend={{
      meta: [
        {
          property: "twitter:image",
          content: social_image,
        },
        {
          property: "og:image",
          content: social_image,
        },
        {
          property: "og:description",
          content: description,
        },
      ],
    }}
  />

</head>
