---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Logo from "@/assets/images/logo-black.svg";
import SandpitBackground from "../assets/images/sandpit-background.jpg";
import SandpitBackground2 from "../assets/images/sandpit-background-2.png";
---

<BaseLayout
  title="SUPERMASSIVE | SIGN UP"
  description="Sign up page to get the latest updates on SUPERMASSIVE's immersive experience shows"
>
  <section class="sandpit-bg pb-24 md:pt-36 pt-16 min-h-screen">
    <div
      data-vl-campaign-id="e9xz4agONxBxkGnd7pUojPlnY4Y"
      class="bg-white mx-auto rounded-xl text-black p-8 max-w-xl"
      data-vl-container="join-stage"
      data-vl-action="join-stage#join"
      data-vl-redirect-url="https://viral-loops.com"
    >
      <Logo class="mx-auto" />
      <h2 class="italic text-3xl mt-4 text-center">
        GET FIRST DIBS ON TICKETS
      </h2>
      <div class="font-normal">
        <p class="my-4">
          Pre-sale tickets, only available to sign-ups, will go on sale 28th
          April. By signing up, you will also receive access to an exclusive 20%
          discount and be entered into our competition:
        </p>
        <ul class="list-disc ml-8">
          <li>5 x tickets to SUPERMASSIVE at Depot Mayfield</li>
          <li>5 x queue jump wrist bands for rooftop bar</li>
          <li>£200 bar tab</li>
          <li>Exclusive merchandise bundle worth £200</li>
          <li>Lifetime VIP access to all SUPERMASSIVE experiences</li>
        </ul>
      </div>
      <p></p>
      <form data-vl-action="join-stage#join" class="flex flex-col gap-4 mt-8" id="viral-loops-signup">
        <input
          data-vl-join-stage-target="input.firstname"
          type="text"
          placeholder="First Name"
          class="border border-gray-500 rounded-full px-4 py-2 bg-white"
        />
        <input
          data-vl-join-stage-target="input.lastname"
          type="text"
          placeholder="Last Name"
          class="border border-gray-500 rounded-full px-4 py-2 bg-white"
        />
        <input
          data-vl-join-stage-target="input.email"
          type="email"
          placeholder="Email*"
          required
          class="border border-gray-500 rounded-full px-4 py-2 bg-white"
        />
        <input
          type="submit"
          class="relative block mx-auto font-heading font-bold italic uppercase rounded-full border border-black border-8 py-2 px-8 text-3xl mt-4 lg:mt-8 cursor-pointer vrlps-trigger col-span-full"
        />
      </form>
      <div class="text-sm">
      <p class="mt-8 mb-4">
        By submitting this form, you agree to receive emails from us. We’ll use
        your information to send updates, offers, and news. You can unsubscribe
        at any time. Your data will be handled in accordance with GDPR and our <a href="/privacy" target="_blank" class="underline">privacy policy.</a>
      </p>
      <p>
        We use Viral Loops for our referral campaign. By clicking above to join
        this campaign you acknowledge that your information will be transferred
        to Viral Loops for processing in accordance with their <a
          href="https://viral-loops.com/terms"
          target="_blank" class="underline">Terms</a
        > and <a href="https://viral-loops.com/privacy" target="_blank" class="underline">Privacy Policy.</a>
      </p>
    </div>
    </div>
    <div
      data-vl-campaign-id="e9xz4agONxBxkGnd7pUojPlnY4Y"
      data-vl-container="sharing-stage"
    >
      <form-widget ucid="e9xz4agONxBxkGnd7pUojPlnY4Y"></form-widget>
    </div>
    <a href="/" class="mx-auto text-center block underline text-2xl mt-24"
      >Return to homepage</a
    >
  </section>
</BaseLayout>
<style
  define:vars={{
    sandpitBackground: `url(${SandpitBackground.src})`,
    sandpitBackground2: `url(${SandpitBackground2.src})`,
  }}
>
  .sandpit-bg {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      var(--sandpitBackground);
  }

  .sandpit-bg-2 {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      var(--sandpitBackground2);
  }
</style>
<script>
 
  document.addEventListener("DOMContentLoaded", function () {
    const form: HTMLFormElement | null = document.querySelector("#viral-loops-signup");

    if (!form) return;

    form.addEventListener("submit", function (e) {
      // e.preventDefault(); // Prevent default form submission behavior

      const formData = new FormData(form);
      const data: any = {};

      // Convert FormData to a plain object
      formData.forEach((value, key) => {
        data[key] = value;
      });

      console.log(window.ttq, "firing tik tok pixel event")

      // Send event to TikTok Pixel
      if (window.ttq && typeof window.ttq.track === "function") {
        window.ttq.track("CompleteRegistration", data);
      }

      // Optionally submit the form after tracking
      // form.submit(); // Remove this if using AJAX
    });
  });
</script>
