---
const { class: customClass } = Astro.props;
---

<section
  class:list={[
    "flex flex-col justify-center items-center h-screen min-h-[800px]",
    customClass,
  ]}
  data-scroll-section
>
  <slot />
</section>
