---
const { class: customClass } = Astro.props;
---

<section
  class:list={["min-h-[800px] max-w-screen ", customClass]}
  data-scroll-section
>
  <div
    class:list={[
      "relative flex flex-col justify-center items-center h-screen min-h-[800px] max-w-6xl mx-auto",
    ]}
  >
    <slot />
  </div>
</section>
