---
//@ts-nocheck

import Dropdown from "./Dropdown.astro";
import { MenuItems } from "astro-navbar";
import { Image } from "astro:assets";
import Logo from "../../assets/images/logo.png";
import { getEntry } from "astro:content";

const { scroll_speed } = Astro.props;

// const navData = await getEntry("data", "nav");
---

<header
  class="navbar nav-container absolute z-50 flex flex-col md:flex-row justify-between
  items-top py-2 left-0 right-0 m-auto sticky top-0 h-[4rem] mt-[-4rem] transition-bg duration-300 bg-transparent"
>
  <div class="flex w-full items-center justify-between mx-auto px-2 xl:px-4">
    <a href="/" class="text-lg w-[90px] md:w-[180px]"
      ><Image src={Logo}  loading="eager" alt="SUPERMASSIVE logo" class="w-24" /></a
    >
   

<a href="/sign-up/" target="_blank"
class="font-heading font-bold italic uppercase rounded-full border border-white border-4 py-1 px-3 text-lg cursor-pointer">Sign up</a>
</header>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    window.onscroll = function () {
      scrollFunction();
    };
    scrollFunction(); // run once in case page loads scrolled
  });


  function scrollFunction(): void {
  const navbar = document.querySelector(".navbar") as HTMLElement | null;

  if (!navbar) return;

  const scrollTop = document.body.scrollTop || document.documentElement.scrollTop;

  if (scrollTop > 20) {
    navbar.style.background = "black";
  } else {
    navbar.style.background = "none";
  }
}
</script>
  